{
  "$schema": "https://json.schemastore.org/swcrc",
  "env": {
    "targets": [
      "chrome >= 90",
      "edge >= 90",
      "firefox >= 90",
      "safari >= 14"
    ]
  },
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "dynamicImport": false
    },
    "target": "es2022"
  },
  "module": {
    "type": "es6",
    "strict": true,
    "noInterop": true
  },
  "minify": false
}
