# this workflow build from master branch and upload dist directory to "preview-dist" branch
# remove this if you don't need it.

name: deploy-preview

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: "lts/*"
          cache: "npm"

      - run: npm ci
      - run: npm run build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          publish_branch: preview-dist
          commit_message: deploy ${{ github.ref }}
          enable_jekyll: true
          user_name: github-actions[bot]
          user_email: github-actions[bot]@users.noreply.github.com
